[2014-02-10 14:16] acka47 opened #1 "Develop application profile"
See https://wiki1.hbz-nrw.de/x/vI6f.

[2014-02-10 14:32] acka47 opened #2 "Get initial data sources"
As initial data source, we will use the Serendipity map data from http://serendipity.utpl.edu.ec/map/data.php which comprises descriptions of 80 universities and their OER repositories.

@trugwaldsaenger will contact OCW (#3) whether there is the possibility to get the OCW member data (see http://www.ocwconsortium.org/members/all/).

[2014-02-10 15:59] trugwaldsaenger opened #3 "contact OCWC for structured member data"

[2014-02-10 16:12] literarymachine opened #4 "Implement mapper to create Drupal fields"

[2014-02-11 09:45] trugwaldsaenger commented on #1
I just discussed with acka47 that it might be a good idea to include repositories into the application profile as well, since they are the link to the ressources.

[2014-02-11 09:48] acka47 commented on #1
I already addressed the question in the AP draft and I Agree that repositories should be handled as first class entities, already in the resources. (Otherwise, I'd have described them using blank nodes.)

[2014-02-11 14:00] acka47 commented on #3
The OCW consortium people were very quick and supportive and @gandalfar pointed us to the OCW API(s).

We haven't found out yet how to get detailed organization data in addition to the geodata and again asked for help.

[2014-02-11 14:07] jurecuhalev commented on #3
Here are possible URL's:
at the moment: https://github.com/ocwc/ocwc-members/blob/master/members/crm/urls_api.py
and: https://github.com/ocwc/ocwc-mainsite/blob/master/members/functions.php

I'll add the browsing interface, extra fields and documentation. But the above URL should allow you to start prototyping.

Here's also the data model that we can expose up to a certain point: https://github.co

[2014-02-12 09:41] acka47 commented on #3
Thanks, @gandalfar,  that will work.

**GET list of OCW consortium members**

[code]

Response:

[code]

**GET details on member by member id**

[code]

Example:

[code]

Example result:

[code]

**GET list of geo coordinates**

[code]

 Result:

[code]

-> extract geo coordinates by searching for member id ("id").

[2014-02-12 09:54] acka47 commented on #3
For the logos, only a relative URL is provided
(e.g. `"logos/agh_nzw_s_en_1w_wbr_rgb_33cb56f60c3b5f38dd3205eb4d2e3f33.jpg"`.
The absolute URL looks like this:

[code]

@gandalfar With adding absolute URLs you could easily make it easier for others to re-use (parts of) the data.

[2014-02-12 10:01] acka47 opened #5 "Transform source data to application profile"
We will focus on the OCW membership data and- if sensible - add data from other sources. For background and instructions see [application profile](https://wiki1.hbz-nrw.de/x/vI6f) and comments on #3 .

[2014-02-12 10:22] acka47 commented on #5
I took a look at the Serendipity map data from http://serendipity.utpl.edu.ec/map/data.php. There are only eight organizations described that aren't OCW consortium members (and thus described in the OCW member data). I created a gist with the JSON descriptions of these at https://gist.github.com/acka47/8952912 . (Don't know whether this is valid JSON...)

[2014-02-12 13:22] #3 closed, assigned to trugwaldsaenger

[2014-02-12 14:51] jurecuhalev commented on #3
Detailed view is now returning 'logo_small_url', please use that URL as members will probably change as I move it behind https.

[2014-02-12 15:57] acka47 commented on #3
Thanks for the hint. I updated it in the comment and will tell @dr0i (who is working on the data transformations).

[2014-02-12 16:29] acka47 commented on #2
We decided to use the OCW member data for the prototype as it is available in JSOn via a web API, see https://github.com/hbz/oerworldmap/issues/3#issuecomment-34852769. As we have retrieved the data, this issue is closed.

[2014-02-12 16:29] #2 closed, assigned to acka47

[2014-02-13 10:55] dr0i commented on #3
@gandalfar thanks for the help! Just a remark - it would be most convenient if one could get _everything_ about an ID in _one record_ instead of making several API lookups. No joining then would be necessary etc.

[2014-02-13 14:18] acka47 commented on #1
I think the application profilem is quite mature now and can be used for further work, see https://wiki1.hbz-nrw.de/x/vI6f. (Actually, @dr0i is already using it for the transformation.
schema.org turned out to be sufficient for most of the information we need. The profile contains three properties and one class from four different additional vocabs, though (dcterms:license, marcrel:fnd, org:Organi

[2014-02-14 14:21] trugwaldsaenger opened #6 "get additional test data from WSIS for optional integration"

[2014-02-17 14:16] acka47 opened #7 "Create formal description of application profile"
including optional/obligatory/repeatable status of elements, labels for presentation in web form/results and prsentation order.

[2014-02-17 14:17] acka47 commented on #7
I will build on https://wiki1.hbz-nrw.de/x/aIaf for this and also draft an application profile vocabulary.

[2014-02-17 14:19] acka47 commented on #1
The human-readable description of this AP is finished for now, thus closing this ticket. A formal description of the AP in RDF including some more information will also be developed, see #7.

[2014-02-17 14:19] #1 closed, assigned to acka47

[2014-02-19 10:10] acka47 commented on #7
See http://wiki.dublincore.org/index.php/OER-world-map for general requirements of an RDF application profile. Please add corrections and suggestions here as you probably have no login for DCMI wiki.

[2014-02-24 16:29] dr0i opened #8 "Enrich using geo data"
Consider having a geo point: lat=7.7928638&long=-72.202904 (also applies to having only literals such as country, city name, and street name by doing an other API lookup).

_First_ thought: use _http://geonames.org_ ID to link and get data. But then, [geoname data is not clearly licensed](https://wiki.openstreetmap.org/wiki/Geonames) and the API is restricted. We could provide an index on our own

[2014-02-24 17:18] literarymachine commented on #8
In order to enable look-ups, the literal data is actually more important than the links. From a linked-data perspective, we should keep the links of course. API restrictions are fine for the editing front-end, at least for the prototype. The geonames-API works like a charm, making it possible to restrict to certain classes such as Countries and delivering RDF data that we can easily use:

[code]

[2014-02-25 09:43] acka47 commented on #8
Obviously, we haven't clearly specified yet what data is essential and what kind of data can be neglected. I guess, here we should differ between data from other sources and data that will be submitted via the API. (When we have to much requirements for bulk loading, it will be hard to get initial data into the system.)
- I think it is crucial to have IDs for countries from a geo service like geon

[2014-02-25 10:54] acka47 commented on #8
If we consistently model the descriptions like proposed above, we'd have to adjust the application profile accordingly. (See the draft profile at https://github.com/acka47/oerworldmap/blob/add-oer-ap/oerap.ttl.) Currently, there is no mention of `geo:locatedIn` in the AP and both `:addressCountry` and `addressLocality` are restricted to `http://www.geonames.org/ontology#Feature`.

[code]

[2014-02-25 12:30] acka47 commented on #7
See https://github.com/acka47/oerworldmap/blob/add-oer-ap/oerap.ttl for the current status of the application profile.

[2014-02-25 14:17] fsteeg opened #9 "Set up Play module for OER API"
Will set up a `oer-api` module in the `oerworldmap` repo to be deployed into the lobid `modules/`.

[2014-02-25 14:19] fsteeg opened #10 "Convert initial N-Triples to JSON-LD and index in ES"
We should store expanded JSON-LD with short keys as defined in the context.

This will enable flexible field queries using the Elasticsearch query language.

[2014-02-25 14:20] fsteeg opened #11 "Implement query routes for initial data set"
Basic idea: a single `/oer` route with `type=` filters for different entities.

Note: the query parameter has to be implemented as `t=`, with a rewrite rule in the Apache config.

[2014-02-25 14:26] fsteeg opened #12 "Implement write routes"
PUT given JSON-LD under a given UUID

[2014-02-25 14:29] fsteeg opened #13 "Implement validation based on application profile"
In the controller processing the PUT from #12:
- load application profile (either into an RDF model or as JSON)
- validate PUTTED data against the application profile
- send appropriate response

[2014-02-25 15:44] dr0i commented on #5
I could also transform the serendipity data. But as this is based on wholly new data fields and so on I consider this to take +4 hours of work. Is ist wort this ?

[2014-02-25 18:31] fsteeg commented on #9
Initial module deployed to test system at http://staging.api.lobid.org/oer, closing.

[2014-02-25 18:32] #9 closed, assigned to fsteeg

[2014-02-26 07:43] acka47 commented on #5
The priority for these eight descriptions is low so you don't have to do anything about it. I may transform the data manually - e.g. by creating a JSON-LD context - in the future.

[2014-02-26 08:08] dr0i commented on #5
ok, but be aware - the "ocw" id's of serendepity do not identify the same things as the ocwsconsortium id's. Don't mix them up.

[2014-02-26 10:05] acka47 commented on #5
### Example

This is a current example of the transformation:

[code]

### Comments

This already looks very good. I have the following comments and suggestions:
- The URI is not based on a uuid as we had aggreed upon.
- In the AP, I had replaced `org:hasMembership` by `schema:memberOf`. This isn't reflected in the data yet.
- schema:logo will be treated in the application as an owl:ObjectProperty

[2014-02-26 10:22] literarymachine commented on #5
There is a bug in the address, `http://schema.org/schema:addressCountry` should read `http://schema.org/addressCountry` I believe.

[2014-02-26 10:59] fsteeg opened #14 "Set up indexing and query tests with in-memory ES"
See similar setup in lodmill-ui as starting point.

[2014-02-26 11:23] acka47 commented on #5
Here's the RDF description of the OCWC itself:

[code]

[2014-02-26 17:00] fsteeg commented on #10
Initial single OER document indexed in ES, accessed via controller: http://staging.api.lobid.org/oer

[2014-02-27 17:08] literarymachine opened #15 "Implement mapper to create Drupal bundles"
Classes defined in the application profile are mapped to bundles

[2014-02-27 17:12] literarymachine opened #16 "Implement EntityFieldQueries"
Queries are executed against the API

[2014-02-27 17:15] fsteeg commented on #11
Basic query route and API documentation deployed, closing. See http://staging.api.lobid.org/oer.

[2014-02-27 17:16] #11 closed, assigned to fsteeg

[2014-02-28 16:50] fsteeg commented on #12
Set up initial write API, deployed to staging. See documentation at http://staging.api.lobid.org/oer

@literarymachine I've set up a testing account for you. Username is `oerworldmap`, password is the same as the Drupal admin password for the Edoweb test server (which I got from @jschnasse).

[2014-02-28 16:50] #12 closed, assigned to fsteeg

[2014-02-28 18:31] dr0i opened #17 "Create URI based on UUID"
In https://github.com/hbz/oerworldmap/issues/5#issuecomment-36109604 @acka47 states that we want URIs  based on a UUID.
UUIDs are great to create a new resource, but require a lookup each time data is transformed which lacks these UUIDs as it is true for all the initial data coming from the different sources (ocwc etc.).
What must be done:  store a link in the transformed data to be able to make l

[2014-03-04 09:05] literarymachine opened #18 "Implement mapper to create Drupal field instances"
Based on `rdfs:domain` and `rdfs:subClassOf`òwl:Restriction`, field instances are created and attached to bundles

[2014-03-04 09:07] literarymachine opened #19 "Implement Linked Data entity type for Drupal"

[2014-03-04 09:07] literarymachine opened #20 "Implement Linked Data controller for Drupal"

[2014-03-04 10:13] acka47 commented on #17
I think it is ok for now to use dc:identifier for internal purposes, adding a prefix for the respective service the ID stems from (e.g. ocwc).

[2014-03-05 10:25] trugwaldsaenger commented on #6
The WSIS data can be downloaded here after registration:
http://www.wsis-community.org/pg/directory/export/672996

[2014-03-05 10:29] #6 closed, assigned to trugwaldsaenger

[2014-03-07 09:49] fsteeg commented on #10
Deployed and merged, closing. See: http://staging.api.lobid.org/oer

Sample query: http://staging.api.lobid.org/oer?q=*&t=http://schema.org/CollegeOrUniversity

[2014-03-07 09:49] #10 closed, assigned to fsteeg

[2014-03-07 14:11] acka47 commented on #11
When I query for http://staging.api.lobid.org/oer?q=*&t=http://schema.org/Service I get resources typed `schema:CollegeOrUniversity` which is not correct.

[2014-03-10 13:59] fsteeg opened #23 "Support any RDF on PUT"
Support putting any RDF serialization using content negotiation

[2014-03-11 15:47] literarymachine commented on #4
Deployed to http://oerworldmap.literarymachine.net/oerworldmap/add

[2014-03-11 15:47] literarymachine commented on #18
Deployed to http://oerworldmap.literarymachine.net/oerworldmap/add

[2014-03-11 15:47] literarymachine commented on #15
Deployed to http://oerworldmap.literarymachine.net/oerworldmap/add

[2014-03-12 14:37] acka47 commented on #5
By now, we have developed a quite mature version of an RDF application profile which currently resides at https://github.com/acka47/oerworldmap/blob/add-oer-ap/oerap.ttl. The results of the data transformation should comply with this AP.

E.g., @literarymachine found one violation of the AP: orgs from the OCWC data only have the rdf:type schema:CollegeOrUniversity which isn't given in the RDF AP.

[2014-03-13 11:44] literarymachine commented on #19
Deployed to http://oerworldmap.literarymachine.net/oerworldmap/add

[2014-03-13 11:44] literarymachine commented on #20
Deployed to http://oerworldmap.literarymachine.net/oerworldmap/add

[2014-03-13 11:46] literarymachine opened #26 "Implement EntityFieldQuery for geonames"
Queries are executed against the geonames search API, see http://www.geonames.org/export/geonames-search.html

[2014-03-13 12:28] fsteeg commented on #13
As discussed in our last meeting, we will probably not implement this for the prototype, as the client performs form validation in the Drupal system. Also the incoming data is loaded into an RDF model by the server (see #23), which provides a basic level of validation and normalization (the JSON-LD that is stored in Elasticsearch is always generated from the RDF model).

[2014-03-13 12:28] #13 closed, assigned to fsteeg

[2014-03-13 14:10] fsteeg commented on #14
Merged in #24, closing.

[2014-03-13 14:11] fsteeg commented on #23
Deployed to production, closing. See http://api.lobid.org/oer

[2014-03-13 14:11] #14 closed, assigned to fsteeg

[2014-03-13 14:11] #23 closed, assigned to fsteeg

[2014-03-13 15:08] acka47 opened #27 "UUID-URNs in object position should be stored as resources, not literals"
See https://github.com/hbz/oerworldmap/pull/25#issuecomment-37543971.

[2014-03-13 15:17] acka47 commented on #27
Closing as it is dealt with in the referenced pull request. (Sorry, @fsteeg , for the confusion.)

[2014-03-13 15:17] #27 closed, assigned to dr0i

[2014-03-13 15:43] literarymachine commented on #7
There is currently neither an `rdfs:range` nor an `owl:Restriction` for the `:license` and `:sameAs` properties, so that we cannot look up link targets (as a side note, I wouldn't even know where to look these up anyways).

[2014-03-13 16:06] fsteeg opened #28 "Support multiple type filters with OR logic"
Analogous to the owner queries in the lobid API, I'd propose a comma-separated list of types as the value of the `type=` parameter, e.g.

`/oer?q=*&t=http://schema.org/CollegeOrUniversity,http://www.w3.org/ns/org#OrganizationalCollaboration`

If we want to add AND logic later, I'd suggest an additional parameter, e.g. `&operator=AND`

[2014-03-14 09:31] acka47 commented on #7
Regarding `:license`: If we assume, that OER people exclusively choose CC licenses we could define the range as `cc:License`. (CC licenses have an RDF description typing the license as such, see e.g. rapper -i rdfa -o turtle http://creativecommons.org/publicdomain/zero/1.0/.).
Creating a lookup for CC licenses shouldn't be too time-consuming, though I think we shouldn't take care of this in the pr

[2014-03-14 13:11] acka47 commented on #5
The application profile is now merged into the hbz/oerworldmap repo, see https://github.com/hbz/oerworldmap/blob/master/oerap.ttl. /@dr0i

[2014-03-14 13:11] literarymachine commented on #7
From a UI point of view does this mean that if the application profile contains an `owl:ObjectProperty`  that is not further defined, the editing form should contain a simple text field to put URIs in?

[2014-03-14 16:34] #16 closed, assigned to nobody

[2014-03-16 15:01] acka47 commented on #7
@literarymachine Exactly, the input should be validated against the HTTP URI scheme.

[2014-03-17 08:31] acka47 commented on #7
The application profile can now be found in the main oerworldmap repository at https://github.com/hbz/oerworldmap/blob/master/oerap.ttl.

[2014-03-17 17:05] literarymachine opened #33 "Rename latitude and longitude properties"
In order to use the geo-capabilities of elasticsearch, the keys `lat` and `lon` must be used instead of `latitude` and `longitude`: http://www.elasticsearch.org/blog/geo-location-and-search/

Pinging @acka47 and @dr0i since this affects the application profile and data transformation.

[2014-03-17 17:08] literarymachine opened #34 "Allow geospatial filtering of search results"
The API should supply a means to filter search results by location. For now, querying by bounding box (instead of e.g. the distance to a given point) should be sufficient.

[2014-03-17 17:12] fsteeg commented on #34
When the data supports Elasticsearch geolocation filters (see [1], ping @dr0i), the API could provide an additional `location` query parameter. With that, something like `&location="40,-70; 30,-80; 20,-90"` would be mapped internally to a filter as in [2].

[1] http://www.elasticsearch.org/guide/en/elasticsearch/reference/current/mapping-geo-point-type.html
[2] http://www.elasticsearch.org/guide/e

[2014-03-17 18:37] fsteeg commented on #33
An option would be to internally create these values needed by Elasticsearch. The code that stores the incoming RDF in ES can get the location from the incoming data as it currently is, add the approprite format to allow the queries, and remove it before serving it as RDF again.

[2014-03-17 18:41] fsteeg commented on #34
Or would point + distance be more useful for you @literarymachine? Like: http://www.elasticsearch.org/guide/en/elasticsearch/reference/current/query-dsl-geo-distance-filter.html#_lat_lon_as_string_4 e.g. with API like `&location="40,-70;12km"`

[2014-03-17 18:50] literarymachine commented on #34
No, I don't believe physical distance is really important here. The bounding box is good because I can then only request those resources that are actually needed for the current map section.

[2014-03-18 08:24] acka47 opened #35 "Require language tags for some literals?"
It would probably be useful to let people choose the language tag of a literal, e.g. for organization names, descriptions etc. (similar to http://rdforms.com/editors/dcat/). If we make this possible, it might also make sense to enable adding multiple literals for one property, e.g. a description in English, one in German etc. (For the application profile, we would have to figure out how to make a

[2014-03-18 08:31] acka47 opened #36 "Adjusting the application profile"
In this ticket, we collect useful adjustments for the application profile.

[2014-03-18 08:32] acka47 commented on #36
**Person**:
- Don't ask for address but only for "locality", i.e. city. This would be sufficient for mapping purposes, would simplify data input. Also, some people may be reluctant to indicate their concrete address.
- Languages spoken is probably quite relevant for persons.

[2014-03-18 08:34] acka47 commented on #4
:+1: All the fields defined in the AP are there.

[2014-03-18 08:35] acka47 commented on #15
:+1:

[2014-03-18 08:37] acka47 commented on #18
I have a problem with understanding this task. Thus, I can't check whether it is actually implemented. @literarymachine, please elaborate.

[2014-03-18 08:39] acka47 commented on #19
@literarymachine What does this mean? For future tickets, it would be good if you could add a short description from the beginning, so I better understand what you are doing.

[2014-03-18 08:50] acka47 commented on #18
@literarymachine explained to me via chat: In Drupal, 'fields' are like properties without domain and range "restrictions". 'Field instances' are like properties which are tied to specific domain, range etc.

[2014-03-18 08:53] acka47 commented on #18
:+1:

[2014-03-18 08:56] acka47 commented on #19
After chatting with @literarymachine I do: :+1:

[2014-03-18 08:57] acka47 commented on #20
:+1:

[2014-03-18 09:29] literarymachine commented on #33
I consider the API a black box, so as long as I get the functionality, I don't really care how it is implemented. What do @dr0i and @acka47 think about this?

[2014-03-18 10:12] acka47 commented on #36
**Service**:
- The language(s) a service is provided in should be indicated.

[2014-03-18 10:29] dr0i commented on #33
As I create RDF only, e.g. @acka47 could tell me how to model this with what properties:

[code]

If it is possible to do this somehow reasonable in RDF/JSON-LD I would vote do enhance the data as near at its source as it can be.

[2014-03-18 10:43] literarymachine commented on #33
We thus need `lat` and `lon` properties instead of `latitude` and `longitude` now. They can still be mapped to the same RDF predicate in the `@context`.

[2014-03-18 10:50] acka47 commented on #33
Using schema.org and the current @graph structure, the JSON-LD should currently look something like this:

[code]

If we'd use "nested" JSON-LD instead of the @graph structure, and would rename the "geo", "latitude" and "longitude" elements we'd get:

[code]

Would this work for elasticsearch (ES)? One can see, that there is one level of hierarchy less than in the ES example. Also, the values have

[2014-03-18 11:02] acka47 commented on #33
Ok, after writing this lenghty comment, I finally understood the problem and how easy the solution is. We will just have to adjust the (currently not existing) @context document to map the `schema:latitude` and `schema:longitude` to the JSON elements "lat" and "lon" and everything will be fine. Right?

[2014-03-18 11:11] dr0i commented on #33
In former version of ES the "pin" hierarchy was mandatory. And I assume , so it is today. Not?

[2014-03-18 11:13] fsteeg opened #38 "Support JSONP requests"

[2014-03-18 11:16] dr0i commented on #33
Sorry - "location" is needed and be geo-point typed . "pin" is only the object.

[2014-03-18 11:29] literarymachine opened #39 "Implement Javascript map frontent"

[2014-03-18 11:33] literarymachine opened #40 "Add type filters to the Javascript map frontend"

[2014-03-18 12:48] literarymachine commented on #39
Primitive first version deployed to http://oerworldmap.literarymachine.net/oerworldmap

[2014-03-18 12:54] fsteeg commented on #33
I've deployed a version with the internal solution I suggested in https://github.com/hbz/oerworldmap/issues/33#issuecomment-37853493 to staging, see #37.

I'm not sure what the best solution would be. On the one hand, it would be nice to just store an retrieve the data and have it work. On the other hand, leaking details required for Elasticsearch to work into the API is not so nice. So maybe we j

[2014-03-18 13:15] literarymachine commented on #33
+1

[2014-03-18 13:49] acka47 commented on #33
+1 from me too.

[2014-03-19 07:35] dr0i commented on #33
+1

[2014-03-19 10:34] fsteeg commented on #28
Deployed to production, closing. See:

http://api.lobid.org/oer?q=Africa&t=http://schema.org/CollegeOrUniversity,http://www.w3.org/ns/org#OrganizationalCollaboration

[2014-03-19 10:34] #28 closed, assigned to fsteeg

[2014-03-19 14:05] fsteeg opened #43 "Add primaryTopic to data"

[2014-03-19 14:08] fsteeg opened #44 "Use external context in API responses"

[2014-03-19 14:09] fsteeg commented on #17
Initial data with UUIDs is deployed to staging, see e.g.

http://staging.api.lobid.org/oer/7eee69cb-a218-4bbe-b6c3-5bb0c75cf4ad

Ping @literarymachine (cc @dr0i)

[2014-03-19 14:10] fsteeg opened #45 "Use separate ES index for users"

[2014-03-19 14:48] fsteeg commented on #34
Ready for review @literarymachine

Sample query: http://staging.api.lobid.org/oer?q=*&location=40.8,-86.6+40.8,-88.6+42.8,-88.6+42.8,-86.6

[2014-03-19 14:49] fsteeg commented on #38
Ready for review @literarymachine

sample query: http://staging.api.lobid.org/oer?q=%22Cape+Town%22&callback=callbackFunction

[2014-03-19 14:50] literarymachine commented on #38
Already using it, +1.

[2014-03-19 14:53] #38 closed, assigned to literarymachine

[2014-03-19 14:58] literarymachine commented on #34
Sometimes I get lost as to where to confirm. +1, like here https://github.com/hbz/oerworldmap/issues/33

[2014-03-19 15:07] fsteeg commented on #34
@literarymachine yeah, like we discussed in our last meeting, we'll relax the review workflow. No more pull request reviews, only +1 on the actual issues from now on.

[2014-03-19 15:08] #34 closed, assigned to literarymachine

[2014-03-19 15:08] #33 closed, assigned to dr0i

[2014-03-19 15:40] fsteeg commented on #43
Assigning to @dr0i for solution on data level.

This is related to our decision to use hashes instead of about pages. So the data should look like this:

[code]

The primaryTopic triples should end up in a file with the same name as the hash triples (here: ocwc1.nt)

[2014-03-19 15:46] literarymachine commented on #43
I am currently trying to implement a generic lookup-solution for several endpoints. Geonames e.g. does not supply these triples, too. You can put this on hold, since I might get around the need.

[2014-03-19 15:54] #20 closed, assigned to literarymachine

[2014-03-19 15:54] #4 closed, assigned to literarymachine

[2014-03-19 15:54] #15 closed, assigned to literarymachine

[2014-03-19 15:54] #18 closed, assigned to literarymachine

[2014-03-19 15:54] #19 closed, assigned to literarymachine

[2014-03-19 16:14] fsteeg commented on #45
Implemented in https://github.com/hbz/oerworldmap/commit/56da5ee8e6e7dbc609f3898a1f6022afc6a69bd8 and deployed to staging.

[2014-03-19 16:14] #45 closed, assigned to fsteeg

[2014-03-19 17:08] fsteeg opened #46 "Spaces in URIs should be encoded"
Spaces in URIs (e.g. for logo links) should be encoded so they can be handled as URIs and are not converted to literals. See this example:

http://staging.api.lobid.org/oer/7eee69cb-a218-4bbe-b6c3-5bb0c75cf4ad

[2014-03-19 17:36] fsteeg commented on #44
Deployed to staging: http://staging.api.lobid.org/oer/1db28953-385b-4c72-873c-4d4a44969a1e

@literarymachine as this could affect transformation to RDF, could you check if this works for you?

[2014-03-20 09:53] literarymachine commented on #17
OK, so the URI-Structure is `http://staging.api.lobid.org/oer/{UUID}`. Now when I get the data, the URIs in there have the structure `http://oerworldmap.org/oer/{UUID}`. With this being so, a client has to isolate the UUIDs from the latter URI-structure in order to get information about a linked resource. I don't think that that is good. Since we are doing linked data, isn't the full HTTP-URI the

[2014-03-20 10:12] acka47 commented on #17
As in lobid we should only use URLs with parameters in the API. In this case:
http://staging.api.lobid.org/oer?id=7eee69cb-a218-4bbe-b6c3-5bb0c75cf4ad
Felix' use case should — as in lobid — also be supported:
http://staging.api.lobid.org/oer?id=http://oerworldmap.org/oer/7eee69cb-a218-4bbe-b6c3-5bb0c75cf4ad%22

[2014-03-20 10:14] dr0i commented on #17
+1 . And then we should make http://oerworldmap.org/oer/7eee69cb-a218-4bbe-b6c3-5bb0c75cf4ad%22 resolvable to have linked data.

[2014-03-20 10:16] literarymachine commented on #17
Yes, we should. And probably it should be the Drupal-frontend running on that Domain. As soon as @trugwaldsaenger sends me the login, I will point http://oerworldmap.org to my server.

[2014-03-20 10:26] literarymachine commented on #17
This data is buggy. The first `@graph` contains both `@type` statements.

[2014-03-20 10:31] fsteeg commented on #17
To keep track of our internal discussion: we'll use `lobid.org` as the domain name in the subject URIs.

This will result in resolvable IDs like http://lobid.org/oer/7eee69cb-a218-4bbe-b6c3-5bb0c75cf4ad

[2014-03-20 11:07] fsteeg opened #48 "Support any RDF on GET"

[2014-03-20 13:17] dr0i commented on #17
re "two types": s. #47
re "resolvable IDs": s. #47

[2014-03-20 14:35] #43 closed, assigned to dr0i

[2014-03-20 14:43] fsteeg commented on #17
Deployed to staging: http://staging.api.lobid.org/oer/1f4269a9-0103-4d9f-913c-5f127a5dab88

[2014-03-20 15:10] dr0i opened #49 "Show URN as URI not as literal"
Since #17 the URN is created as URI. But the URN is shown as literal , see e.g. http://lobid.org/oer/1db28953-385b-4c72-873c-4d4a44969a1e#!  .

[2014-03-20 15:18] dr0i commented on #49
This is not an issue. It is correct in json. There are always values for @id . The context would make a URI out of this. (The displaying of http-URIs in the @id as URIs and not as links was a matter of browser-rendering. The underlying source is indeed coherent.)

[2014-03-20 15:18] #49 closed, assigned to fsteeg

[2014-03-20 17:17] fsteeg commented on #48
Deployed to staging. Samples:

`curl -H "Accept: text/plain" "http://staging.api.lobid.org/oer/1f4269a9-0103-4d9f-913c-5f127a5dab88"`

`curl -H "Accept: application/rdf+xml" "http://staging.api.lobid.org/oer?q=*&location=40.8,-86.6+40.8,-88.6+42.8,-88.6+42.8,-86.6"`

Assigning to @literarymachine for review.

[2014-03-21 10:00] literarymachine commented on #48
This looks good. Really testing it in a Linked Data environment is hard though for the following reason (this is not the first time I encounter this).

Assume your example from above:

[code]

This returns data not about the resource `<http://staging.api.lobid.org/oer/1f4269a9-0103-4d9f-913c-5f127a5dab88#!>`, but about `<http://lobid.org/oer/1f4269a9-0103-4d9f-913c-5f127a5dab88#!>`. Since in Linke

[2014-03-21 11:54] literarymachine commented on #5
As defined in the AP, the `addressCountry` property of a `PostalAddress` should not contain a literal, but a link to a `geonames:Feature`. This is not the case e.g. for `http://staging.api.lobid.org/oer/aa5c7dc0-a06e-4ada-9571-d9195bb3ca9a#!`.

[code]

[2014-03-21 12:05] literarymachine commented on #5
There is a dead link in the `memberOf` property of http://staging.api.lobid.org/oer/aa5c7dc0-a06e-4ada-9571-d9195bb3ca9a#! Also, the link should contain the fragment identifier `#!`.

[code]

[2014-03-21 12:07] literarymachine opened #51 "Return proper HTTP response code"
Currently, the API returns an `HTTP/1.1 200 OK` for any URI.

[code]

This should be `404` for non-existent resources instead.

[2014-03-21 12:30] literarymachine opened #52 "Fix malformed context document"
The context document supplied at http://staging.api.lobid.org/oer/data/context.json is invalid. It needs a top-level "@ context" key, see https://github.com/lobid/lodmill/issues/292

[2014-03-21 13:19] dr0i commented on #48
So this is the same problem when http://lobid.org/person/118580604/about
describes in fact http://d-nb.info/gnd/118580604 ?

Is it not possible to treat these (non Linked Data-)URIs just as some uncool
non-linked-data URIs - while at the same time the harvested content (the RDF
that these non-ld-URIs provide) IS perfectly good linked data?

[2014-03-21 13:22] dr0i commented on #5
sorry, yes, the UUID of the ocwc itself is for now just a placeholder - data
about the ocwc will be provided later.
As for the #! - you are right, gonna fix this.

[2014-03-21 13:29] literarymachine commented on #48
Again, this is a Linked Data vs. Lookup-API-Issue I believe. If I request a
Linked Data resource at http://staging.api.lobid.org/oer/foo#!, then I
expect information about that resource. This HTTP request pattern is
integral to Linked Data.

2014-03-21 14:19 GMT+01:00 Pascal Christoph notifications@github.com:

[2014-03-21 13:48] literarymachine commented on #52
+1

[2014-03-21 13:49] literarymachine commented on #48
The above discussion probably belongs somewhere else.

+1 for the fix.

[2014-03-21 14:15] fsteeg commented on #44
Deployed to production, closing. Sample:

http://api.lobid.org/oer/1db28953-385b-4c72-873c-4d4a44969a1e

[2014-03-21 14:15] #44 closed, assigned to literarymachine

[2014-03-21 14:16] fsteeg commented on #52
Deployed to production, closing. See: http://api.lobid.org/oer/data/context.json

[2014-03-21 14:16] #52 closed, assigned to fsteeg

[2014-03-21 14:25] fsteeg commented on #51
Right. But for `q=` requests with no results we keep the 200 OK `[]` response, correct?

[2014-03-21 14:27] literarymachine commented on #51
I would say so, yes!

[2014-03-21 14:31] acka47 opened #53 "Add consortia and membership thereof to data"
In the OCWC data many member descriptions indicate a membership in a consortium (found in the ocwc data's JSON key "associate_consortium"), e.g.:

[code]

It would be nice to also add links to the associate consortium into the RDF. Obviously, all of these consortia have also an entry in the OCWC JSON in the array "Associate Consortia".

Here is a list of the associate consortia that a currently me

[2014-03-21 15:12] fsteeg commented on #51
Deployed to staging:

[code]

[code]

[2014-03-21 15:28] acka47 opened #54 "Add additional type information to RDF"
Add `rdf:type` according to the OCWC data's arrays as already indicated in the [wiki application profile](https://wiki1.hbz-nrw.de/x/vI6f).
- Institutions of Higher Education -> `schema:CollegeOrUniversity`
- Associate Consortia -> `http://www.w3.org/ns/org#OrganizationalCollaboration`
- Organizational Members -> NO addtional type to the already existing `schema:organisation`
- Corporate Members -

[2014-03-21 15:35] fsteeg opened #55 "Make subject URI in API responses use the actual URL serving the response"
See https://github.com/hbz/oerworldmap/issues/48#issuecomment-38262017

Not so sure about this one. IMO the subject URIs (and resulting `@id` in the JSON-LD) should always be the same, since these are the entities we're talking about, independently of the host serving these.

[2014-03-21 15:36] acka47 commented on #39
Here are some comments that come to my mind watching at the map. We might address some or all of these in future iterations.
- I think the map should be presented more prominently (=bigger). See for example http://openaccessmap.org/ We should think about removing the menu side bar on the left side.
- It may make sense to have different pins for the different resource types. (a person for person, b

[2014-03-21 15:38] fsteeg commented on #48
RDF on GET support deployed to production, closing.

`curl -H "Accept: text/plain" "http://lobid.org/oer/1f4269a9-0103-4d9f-913c-5f127a5dab88"`

Opened #55 for the issue raised in https://github.com/hbz/oerworldmap/issues/48#issuecomment-38262017

[2014-03-21 15:38] #48 closed, assigned to literarymachine

[2014-03-21 15:39] literarymachine commented on #55
There is no need for action in the course of this project here I think. But again, from a linked data point of view, I would favor and expect that `http://staging.api.lobid.org/oer/foo#!` delivers data about `http://staging.api.lobid.org/oer/foo#!`.

[2014-03-21 16:43] acka47 opened #57 "Add country filter to map"
Filtering by country should be possible. For the start a list of all countries that are part of the data should suffice. A click on the country should set the filter.

[2014-03-21 17:18] acka47 opened #59 "Change range of schema:url in application profile"
To `foaf:Document` or something similar from schema.org.

[2014-03-21 17:20] acka47 opened #60 "Comments on the current web interface (resource views)"
[Example](http://oerworldmap.literarymachine.net/oerworldmap/resource/http%25253A%25252F%25252Flobid.org%25252Foer%25252F9aaad40c-0ea4-4455-8e71-8cbd79be0030%252523%252521)
- Use only English as UI language
- Generally, as little URIs as possible should be shown to the user. Use linked strings if possible.
- The logo image (with link to the image URL) should be embedded in the site instead of only

[2014-03-24 08:09] acka47 commented on #17
+1

[2014-03-24 08:41] acka47 opened #61 "Comments on the current web interface (edit views)"
### General
- Use only English as UI language
- As little URIs as possible should be shown to the user. Use linked strings if possible.
- If possible, use a flat form structure "key: input field". The often multiple nesting makes then UI quite unintuitive.
### Address
- If the fields are already expanded, there should be no "Hinzufügen/Add" button.
#### Country/locality
- At best this should work

[2014-03-24 09:43] dr0i commented on #8
@acka47 have a look.: #56 should fix this issue #8.

[2014-03-24 09:50] dr0i opened #62 "Link schema:providesService to oermap entities"
Taken from #5 by @acka47:
"`schema:providesService` should not directly link to web resources but to oermap entites of type schema:Service."
TODO:
- Create URIs and basic descriptions for services.
- Find a solution for services where we only have a URL and no name or description that we could add to the RDF. For now, we'd only have the triples seen above for a service. Is this enough for the star

[2014-03-24 09:56] dr0i commented on #5
I created a separate issue regarding linking to services, s. : #62

[2014-03-24 10:55] #46 closed, assigned to dr0i

[2014-03-24 10:55] acka47 commented on #54
@literarymachine and me decided to posptpone the as this isn't covered with the current application profile. There, it currently reads:

[code]

We will have to find a way to mark in the application first-class types (which can be created) and second-class types which can be added as additional information.

[2014-03-24 10:56] #17 closed, assigned to dr0i

[2014-03-24 11:23] acka47 opened #64 "Delete fields in application profile"
- schema:sameAs for persons, services and projects should be deleted. Maybe retain for organisations to add wikipedia link.
- schema:address for persons can be removed as the address is indicated at the linked organisation
- maybe remove geo coordinates form person & organisation

[2014-03-24 11:30] acka47 opened #65 "Support DELETE on API"
HTTP method DELETE should be supported by API.

[2014-03-24 11:40] acka47 opened #66 "Add start and end date on :Project in application profile"
Use schema:startDate and schema:endDate with range xsd:gYearMonth.

[2014-03-24 11:49] acka47 commented on #8
Closing. The discussion here is outdated. See #5 for the current discussion and up-to-date solutions.

[2014-03-24 11:49] #8 closed, assigned to dr0i

[2014-03-24 11:55] acka47 opened #67 "Editing a resource & submitting creates a new resource"
...instead of updating the existing one that is actually edited.

See the different entries for "Adrian Pohl" that weren't created individually. http://oerworldmap.literarymachine.net/oerworldmap/search?term=pohl&search=Search&form_build_id=form-RuHUL3c9Yjf5dEG_j1tm42E6s8rSntA7ixZYwmcKU-A&form_id=oerworldmap_search

[2014-03-24 11:56] acka47 opened #68 "Editing a person and submitting yields error"
I have tried several times now to add address data to one of the ["Adrian Pohl" entries]() and got this error message several times:

[2014-03-24 12:04] acka47 commented on #68
Here is how the editing form looks like before submission and getting the error response:

![Submission to error](https://copy.com/va1C8NaAeNzgrUif/editing-error.png?download=1)

[2014-03-24 12:07] acka47 commented on #68
I tried submitting again after editing [this entry](http://oerworldmap.literarymachine.net/oerworldmap/resource/http%25253A%25252F%25252Flobid.org%25252Foer%25252F2e393e11-a402-42e0-a892-77766327100c%252523%252521). This resulted in creating [another "Adrian Pohl" entry](http://lobid.org/oer/b89761c4-ecbd-4d88-b4b6-717e847707ff#!) - with no address information...

[2014-03-24 12:23] fsteeg commented on #65
Deployed to staging. Sample:

`curl -X DELETE http://user:pass@staging.api.lobid.org/oer/id123`

Note you need to replace `user` and `pass` with your credentials.

Assigning to @literarymachine for review.

[2014-03-24 14:44] acka47 commented on #59
I will use schema:WebPage and make an owl:ObjectProperty out of it.

[2014-03-24 15:23] acka47 commented on #68
The problem seems to be with the "country". I managed to add the other data but the error continues to show up when I try to add a country.

[2014-03-24 15:59] acka47 opened #70 "Add "delete" button to edit view"

[2014-03-24 16:28] acka47 opened #72 "API should take care of adding reciprocal links"
Should be implemented for schema:member/schema:memberOf and schema:provider/schema:providesService.

[2014-03-24 21:02] literarymachine opened #73 "Cannot PUT data containing http://schema.org/addressCountry"
PUTting  a `PostalAddress` that has an `addressCountry` property yields an internal server error:

[code]

[2014-03-24 21:06] literarymachine commented on #73
The same data with an `addressLocality` instead of an `addressCountry` works fine:

[code]

[2014-03-24 21:08] literarymachine commented on #68
I believe this is an API issue, see #73 ping @fsteeg

[2014-03-24 21:12] #67 closed, assigned to literarymachine

[2014-03-24 21:14] literarymachine commented on #51
+1

[2014-03-26 10:38] literarymachine commented on #65
+1

[2014-03-26 10:40] literarymachine opened #74 "Add all properties to context"
The current `@context` ([1]) is lacking several properties: `http://schema.org/address`, `http://schema.org/memberOf`, `http://schema.org/addressCountry`, `http://schema.org/postalCode`, `http://schema.org/streetAddress`.

[1] https://github.com/hbz/oerworldmap/blob/master/oer-api/public/data/context.json

[2014-03-26 11:54] literarymachine opened #75 "Fix recursion for bidirectional links"
Search results such as http://api.lobid.org/oer?q=Comenius lead to endless loops when loaded into Drupal.

[2014-03-26 12:49] literarymachine opened #76 "Handle field cardinalities"

[2014-03-26 13:48] literarymachine opened #77 "Display DatatypeProperties with range of rdf:HTML as textareas"

[2014-03-27 13:03] fsteeg commented on #73
Fixed on staging, closing.

File `f337b598-8250-4bc7-be9e-abc99f962007.xml`:

[code]

`curl -X PUT -H "Content-Type: application/rdf+xml" http://user:pass@staging.api.lobid.org/oer/f337b598-8250-4bc7-be9e-abc99f962007 -T f337b598-8250-4bc7-be9e-abc99f962007.xml`

(insert actual credentials above)

http://staging.api.lobid.org/oer/f337b598-8250-4bc7-be9e-abc99f962007

[2014-03-27 13:03] #73 closed, assigned to fsteeg

[2014-03-27 13:04] fsteeg commented on #68
Should work now, see https://github.com/hbz/oerworldmap/issues/73#issuecomment-38799418

[2014-03-27 13:05] #51 closed, assigned to literarymachine

[2014-03-27 13:28] #65 closed, assigned to literarymachine

[2014-03-27 13:45] fsteeg commented on #74
@acka47 Could you add these? Since you are more familiar with the data and the required JSON-LD `@type`s I think that would be the quicker way.

[2014-03-27 15:50] literarymachine opened #81 "Supply exact URIs of geoname features"
The `addressCountry` properties should contain the exact URIs of geonames features. Currently, the trailing slash is lacking, see e.g. [1]:

[code]

This should read:

[code]

While data can also be received from the URL without the slash, the RDF contains statements only about the subject URI with slash.

[1] http://api.lobid.org/oer/7bf46009-c296-4c3d-91e9-55baab4d4362

[2014-03-28 14:25] acka47 opened #84 "Transformation bug: bulleted list is transformed to array of strings"
See http://lobid.org/oer/4c4abae9-80f5-46e5-8713-0986fe37e79f#!.

[2014-04-01 10:52] dr0i commented on #62
Deployed to staging:
organisation: http://staging.api.lobid.org/oer/3d9c8145-b059-43dd-9a47-da51529c7dba#!
and its service: http://staging.api.lobid.org/oer/9d5336d5-e01f-4711-a94f-1e1cdc782cae#!

[2014-04-01 11:14] dr0i commented on #5
@acka47, you wrote: "Also, the data uses a property (dct:identifier) that isn't specified in the AP yet. When we really need it, I'd have to add it to the AP."
So, yes, there is need of `dc:identifier` .

[2014-04-01 15:23] literarymachine commented on #62
By looking at it, I give a +1. Actually testing it from within Drupal is once again not easy, see https://github.com/hbz/oerworldmap/issues/48#issuecomment-38262017 and https://github.com/hbz/oerworldmap/issues/55#issuecomment-38288590.

[2014-04-02 14:03] dr0i commented on #53
fyi, counted the links:
ocwc213=25, ocwc214=1, ocwc215=22, ocwc262=17, ocwc370=21, ocwc408=19, ocwc577=2

[2014-04-02 14:26] dr0i commented on #39
looks nice! Experienced some minor issues, independent of browser (firefox, chrome,konqueror):
- pins seems to not fit exactly at lower zooming level: as zooming deeper into the map the pins seem to shift into proper position. E.g. the orange pin "person: Jörg Lohrer" starts somewhere north africa and shifting to Germany when zooming.
- opening an info box by clicking on a pin shifts the whole map

[2014-04-02 14:34] dr0i opened #91 "Wrong label when lookup geonames"
The labels of the countries seems to all to be English but "Belgium" is labeled as  i"ቤልጄም".

[2014-04-02 14:36] literarymachine commented on #39
This issue seems to have crept in with the introduction of different markers. Will look into that.

It was like that, shifting the map was (re-)introduced at the request of @acka47 and @trugwaldsaenger

Indeed - the data only contained coordinates but no link to a country. After adding that link, the filter works as expected.

If time permits it, I will look into adding a larger map to the landing

[2014-04-02 16:25] literarymachine commented on #91
This is a known issue and basically expected behavior. The labels are not all in English, it is first tried to get the label in the language the browser is configured for. If that is not found, the default label (no language tag set) is used. If that is not found, the last label in the data is simply picked.

Note to myself: I am currently only looking into `gn:officialName`. A closer look at the

[2014-04-03 09:02] acka47 commented on #61
All issues addressed here have been resolved. Closing.

[2014-04-03 09:02] #61 closed, assigned to nobody

[2014-04-03 09:03] acka47 commented on #60
All issues addressed here have been resolved. Closing.

[2014-04-03 09:03] #60 closed, assigned to nobody

[2014-04-03 09:06] acka47 commented on #7
The RDF AP exists and will only be adjusted slightly from now on.

[2014-04-03 09:06] #7 closed, assigned to acka47

[2014-04-03 09:07] #74 closed, assigned to acka47

[2014-04-03 09:13] acka47 commented on #62
+1

[2014-04-03 11:41] acka47 opened #92 "Add links to resources in drupal descriptions"
It would be nice to have the resource URI somewhere as link in the Drupal descriptions.

[2014-04-03 15:56] #57 closed, assigned to literarymachine

[2014-04-03 15:56] #66 closed, assigned to acka47

[2014-04-03 15:56] #70 closed, assigned to literarymachine

[2014-04-03 15:56] #75 closed, assigned to literarymachine

[2014-04-03 15:56] #76 closed, assigned to literarymachine

[2014-04-03 15:56] #77 closed, assigned to literarymachine

[2014-04-04 08:04] dr0i commented on #81
deployed to production, closing.

[2014-04-04 08:13] dr0i commented on #62
Deployed to production, closing.

[2014-04-04 08:13] #62 closed, assigned to dr0i

[2014-04-04 08:14] dr0i commented on #84
Deployed to production, closing.

[2014-04-04 08:14] #84 closed, assigned to dr0i

[2014-04-04 08:15] dr0i commented on #53
Deployed to production, closing.

[2014-04-04 08:15] #53 closed, assigned to dr0i

[2014-04-04 13:02] acka47 opened #93 "Add OER and hbz logos to oerworldmap website"
Also, if you want, @literarymachine , graphthinking logo. Please use this hbz logo: http://www.hbz-nrw.de/ueberuns/logos/hbz_logo/hbz_logo_klein.

[2014-04-07 12:21] #64 closed, assigned to acka47

[2014-04-07 12:21] #59 closed, assigned to acka47

[2014-04-07 12:22] #5 closed, assigned to acka47

[2014-04-07 12:22] literarymachine opened #94 "Order country names in map filter alphabetically"

[2014-04-07 12:30] #39 closed, assigned to literarymachine

[2014-04-07 12:30] #40 closed, assigned to literarymachine

[2014-04-07 12:31] #92 closed, assigned to literarymachine

[2014-04-07 12:31] #68 closed, assigned to literarymachine

[2014-04-07 12:31] #26 closed, assigned to nobody

[2014-04-07 12:54] acka47 opened #95 "Transform WSIS data according to AP and add to index"
See https://wiki1.hbz-nrw.de/x/kIGp.

[2014-04-09 09:18] acka47 opened #96 "Clarify licensing for OCWC & WSIS data"
We want to publish the resulting data set under an open license (CC0). The re-used data by OCWC and WSIS doesn't have any explicit licensing. (Legally, this data won't be copyrightable anyway...)

[2014-04-09 13:29] fsteeg opened #98 "Support queries by country label via separate geonames documents and parent-child queries"

[2014-04-10 12:38] acka47 commented on #95
I pre-processed the ugly csv data with open refine and placed the resulting data as json at https://github.com/hbz/oerworldmap/tree/issue-95-wsis/oer-data/src/main/resources/wsis. @dr0i is currently working on transforming it to RDF and adding GeoNames links as well as geo coordinates.

[2014-04-11 07:19] acka47 opened #100 "Add attribution of GeoNames"
We use GeoNames data in API and Drupal frontend. The data is licensed under a [CC-BY](http://creativecommons.org/licenses/by/3.0/) license which means attribution should be given when reusing the data.

[Here](http://www.geonames.org/export/) it reads:

I suggest to add the following text to the [API page](http://lobid.org/oer):

@literarymachine : You might add a similar note to oerworldmap.org,

[2014-04-15 12:02] literarymachine commented on #91
6a166d90f49c35b5cd569cd51a533da08f169584

[2014-04-15 12:02] #91 closed, assigned to literarymachine

[2014-04-16 09:06] fsteeg commented on #100
Deployed to production, closing: http://api.lobid.org/oer

[2014-04-16 09:06] #100 closed, assigned to fsteeg

[2014-04-16 09:08] fsteeg commented on #98
Deployed to production, closing:

http://api.lobid.org/oer?q=*&location=germany
http://api.lobid.org/oer?q=*&location=deutschland
http://api.lobid.org/oer?q=*&location=ドイツ

http://api.lobid.org/oer?q=germany
http://api.lobid.org/oer?q=deutschland
http://api.lobid.org/oer?q=ドイツ

[2014-04-16 09:09] #98 closed, assigned to fsteeg

[2014-04-16 10:40] literarymachine opened #103 "Add missing type property"
Some resources are missing the `@type` property, e.g. http://lobid.org/oer/74e58001-ec75-4437-bdad-2e849c571c92#! which should probably be typed as a `schema:Organization`.

[2014-04-16 10:43] literarymachine commented on #81
Some resources now contain an additional trailing slash, see http://lobid.org/oer?q=*&addressCountry:*//

[2014-04-16 10:46] literarymachine commented on #93
Added logos to about page: http://oerworldmap.org/oerworldmap/about

[2014-04-16 10:46] #93 closed, assigned to literarymachine

[2014-04-16 10:47] literarymachine opened #104 "Remove duplicate descriptions"
Some resources are described by multiple documents, e.g. http://api.lobid.org/oer?q=%22Unisul%20Virtual%22 which returns two descriptions for http://lobid.org/oer/b9d9e002-645e-4700-800a-b6f2b71bc004#!

[2014-04-16 10:54] literarymachine opened #105 "Fix multiple properties"
Resources such as [1] contain bugs:
- It is typed as both, `schema:Organization` and `schema:Service`
- It contains multiple links to addresses, some of which are not described and some of which contain latitude and longitude. There should be exactly one address.

[2] is lacking geo coordinates.

[1] http://lobid.org/oer/b9d9e002-645e-4700-800a-b6f2b71bc004#!
[2] http://lobid.org/oer/88feda8d-73bc

[2014-04-16 11:21] fsteeg commented on #104
Fixed in production: http://api.lobid.org/oer?q=%22Unisul%20Virtual%22

Was related to the additional trailing slash (https://github.com/hbz/oerworldmap/issues/81#issuecomment-40585422), which we thought was fixed, but the faulty documents were not replaced (the geonames ID is the parent for the OER resource, and Elasticsearch treats documents with identical IDs but different parents as separate d

[2014-04-16 11:21] #104 closed, assigned to dr0i

[2014-04-16 11:24] fsteeg commented on #81
Fixed in production: http://api.lobid.org/oer?q=%22Unisul%20Virtual%22 (used to be 2, one had the additional slash, now only one. Note your query still yields results for all `http://` occurences).

We thought the slash issue was already fixed, but the faulty documents were not replaced (the geonames ID is the parent for the OER resource, and Elasticsearch treats documents with identical IDs but d

[2014-04-16 11:24] #81 closed, assigned to dr0i

[2014-04-16 14:42] dr0i commented on #95
In future, as we agreed, we should not make such big "container" issues. See the size of the corresponding pull request #101 - and it is far from its merging.

[2014-04-16 15:14] dr0i commented on #103
deployed to production. @literarymachine have a look.

[2014-04-16 16:05] literarymachine opened #106 "Fix type for geo coordinates"
Some resources (e.g. [1], from the WSIS data?) contain malform `@type` properties in their geo coordinates. The value should be `http://schema.org/GeoCoordinates` instead of `geo:Coordinates`:

[code]

should be

[code]

[1] http://lobid.org/oer/f506dfb9-d1c7-4dd3-99bf-59811dbe4406#!

[2014-04-16 17:12] literarymachine commented on #105
While reviewing the map I found out that all of these resources share the same problems:
- They have two types
- They have two addresses, one containing the `addressCountry` and one containing the `addressLocality`
- They have two geo coordinates, one of which is falsely typed `geo:coordinate`

Just in case its helpful:

[code]

[2014-04-17 08:03] dr0i commented on #105
Thx for the report (actually, these are 3 issues):
1. two types:
   The data in the source is wrong. The wsis data says:

   "Schema:sameAs" : "http://lobid.org/oer/b9d9e002-645e-4700-800a-b6f2b71bc004#!",
    "dc:identifier" : "673352",
     "rdf:type" : "schema:Service"

while `http://lobid.org/oer/b9d9e002-645e-4700-800a-b6f2b71bc004#!` == ocw317 which is of type `Organization`.

1.a ) Not ment

[2014-04-17 08:49] dr0i commented on #106
Hm, I don't understand why this is so. In the ntriples the transformation produces it says `<http://schema.org/geoCoordinates>` and i cannot found the reduced form `"geo:Coordinates"` ". @fsteeg do you have a clue ?

[2014-04-17 08:53] dr0i commented on #105
I just found that there are two geo coordinates for http://lobid.org/oer/b9d9e002-645e-4700-800a-b6f2b71bc004#! . I will fix this.

[2014-04-17 08:56] literarymachine commented on #105
Yes. See my list above (https://github.com/hbz/oerworldmap/issues/105#issuecomment-40625699), which contains resources that have two geo coordinates.

[2014-04-17 09:18] fsteeg commented on #106
I think this is a JSON-LD feature caused by the `geo` mapping in out context document:

http://api.lobid.org/oer/data/context.json

When requested as NTriples the full property is used:

`curl -H "Accept: text/plain" "http://lobid.org/oer/f506dfb9-d1c7-4dd3-99bf-59811dbe4406"`

`<urn:uuid:a0f72732-003c-4363-ac7d-d92e050b740e#!> <http://www.w3.org/1999/02/22-rdf-syntax-ns#type> <http://schema.org/g

[2014-04-17 09:33] dr0i commented on #105
Fixed it.

[2014-04-17 09:43] literarymachine commented on #106
Idependent of the serialization, the type should be `http://schema.org/GeoCoordinates` (with capital G):

[code]

RDF is case-sensitive.

[2014-04-17 10:00] dr0i commented on #106
deployed to staging.

[2014-04-17 10:13] literarymachine commented on #106
Works, and appears to be deployed to production already:

[code]

[2014-04-17 10:16] fsteeg commented on #106
Thanks for the confirmation, closing.

Also fixed in JSON-LD (with the uppercase `G` it is no longer changed by to `geo` context property), see:

http://lobid.org/oer/f506dfb9-d1c7-4dd3-99bf-59811dbe4406

[2014-04-17 10:16] #106 closed, assigned to dr0i

[2014-04-17 10:46] dr0i opened #108 "Remove PostalAddress from foaf:Project"
E.g. http://lobid.org/oer/5024577d-fa4e-41b3-a5fe-d6fa4c3f479f is a foaf:Project. Since the data lacks many necessary data:

[code]

we should  dump the whole PostalAddress since the Application Profile demands this.

[2014-04-17 12:15] dr0i commented on #105
Regarding "multiple links to address" - this seems somehow already fixed.
For http://lobid.org/oer/b9d9e002-645e-4700-800a-b6f2b71bc004#! this is done because one of the two merged resources is of type Service, and Services are now forbidden to have an address.

But e.g. http://lobid.org/oer/5e3ca60f-f4a3-4dd0-8f1c-84e44ef5c844#! consists of two resources of which _both_ are typed as Organization.

[2014-04-17 12:33] literarymachine commented on #105
+1

[2014-04-17 12:42] #105 closed, assigned to dr0i

[2014-04-17 12:42] #103 closed, assigned to dr0i

[2014-04-17 12:49] dr0i opened #109 "Wrong geo coordinates"
Some resources have wrong geo coordinates, e.g. the German http://lobid.org/oer/74e58001-ec75-4437-bdad-2e849c571c92#! is shown in Papua New Guinea. This is a result of the geonames API lookup, where only the place name "Hagen" ist looked up. Multiple results are delivered and the first one (which is sadly "Mount Hagen") is taken as source of geo coordinates. For simplicity.
Now there are two ways

[2014-04-17 14:07] dr0i commented on #95
Since #101 is merged this ticket is closed.

[2014-04-17 14:07] #95 closed, assigned to acka47

[2014-04-17 14:36] dr0i commented on #109
deployed on prodcution. Looks good.

[2014-04-17 14:36] #109 closed, assigned to dr0i

[2014-04-17 14:38] dr0i commented on #108
deployed on production.

[2014-04-17 14:38] #108 closed, assigned to dr0i

[2014-05-02 11:42] acka47 opened #111 "Extract requirements for RDF application profile from draft AP"
Based on our use case and the developed draft application profile collect  requirements for RDF application profiles.

[2014-05-02 11:46] acka47 commented on #111
Closing, duplicate to https://github.com/lobid/lodmill/issues/431

[2014-05-02 11:46] #111 closed, assigned to acka47

[2014-11-21 13:07] acka47 commented on #35
Project is long over. Closing. (@literarymachine: I guess you can just go through the closed issues in this repo for things to be kept in mind for the production service.)

[2014-11-21 13:07] #35 closed, assigned to literarymachine

[2014-11-21 13:08] acka47 commented on #36
Closing. Project finished for some time now.

[2014-11-21 13:08] #36 closed, assigned to nobody

[2014-11-21 13:09] acka47 commented on #54
Closing. Project finished for some time now.

[2014-11-21 13:09] #54 closed, assigned to acka47

[2014-11-21 13:10] acka47 commented on #55
Closing. Project finished for some time now.

[2014-11-21 13:10] #55 closed, assigned to nobody

[2014-11-21 13:10] acka47 commented on #94
Closing. Project finished for some time now.

[2014-11-21 13:10] #94 closed, assigned to literarymachine

[2014-11-21 13:11] acka47 commented on #72
Closing. Project finished for some time now.

[2014-11-21 13:11] #72 closed, assigned to nobody

[2014-11-21 13:11] acka47 commented on #96
Closing. Project finished for some time now.

[2014-11-21 13:11] #96 closed, assigned to trugwaldsaenger